<div class="container">
  <!-- upload form -->
  <form #form (ngSubmit)="postUpload()">
    <div class="uploadFile">
      <div class="uploadForm">
        <div class="formUpload">
          <div class="inputFile">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="submit" (click)="reset()" class="input-group-text btn-info">Start Analysis</button>
              </div>
              <div class="custom-file">
                <input type="file" #myInput name="file" id="inputGroupFile01" (change)="fileChange($event.target.files)"
                  class="form-control" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- list file upload -->
  <div class="listUpload">
    <p>
      <legend>List Upload</legend>
    </p>
    <table class="table table-striped">
      <thead class="black white-text">
          <th scope="col">STT</th>
          <th scope="col" class="titleFilename">FileName</th>
          <th scope="col">Total Error</th>
      </thead>
      <tbody>
          <tr  *ngFor="let log of logs; let index = index">
            <td>{{index + 1}}</td>
            <td><a [routerLink]="['/reports',log.id]">{{subString(log.filename)}}</a></td>
            <td>{{log.totalerr}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>