.uploadForm {
  width: 100%;
  height: 100%;
}
.formUpload {
  margin-left: 25vh;
  margin-top: 5vh;
  width: 50vh;
  height: 100%;
}
.listUpload{
  width: auto;
  
  margin-top: 10vh;
  text-align: center;
}
.listUpload table tr td a{
  margin-left: 35vh;
  color: #151a1b;
  font-weight: 800;
}
.listUpload table tr td :hover{
  color: #ac0d0d;
}
.listUpload table td {
  text-align: left;
}
.listUpload table td:last-child {
  text-align: center !important;
}
.titleFilename {
  padding-left: 36vh !important;
  text-align: left;
}
.list {
  margin: auto;
  width: 80%;
  border: 1px solid;
  border-bottom: none;
}
.listFile {
  border: 1px solid;
  border-top: none;
}
.listFile p {
  padding: 0px;
  margin: 0px;
}